tr:nth-child(even) {
    background-color: rgba(230, 230, 230, 0.74);
}

tr:nth-child(odd) {
  background-color: #FFF;
}

h2, h3{
  padding: 10px 10px 0 0;
  font-family: "Helvetica";
  font-weight: lighter;
}

h2 {
  padding-left: 10px;
}

.repo-fetcher {
  padding: 0 0 20px 10px;
  font-family: "Helvetica";
  font-weight: lighter;
}

.top-repos {
  background-color: rgba(230, 230, 230, 0.74);
  font-family: "Helvetica";
  line-height: 150%;
  font-weight: lighter;
  font-size: 90%;
  width: 80%;
  background-color: #FFF;
}

.clear_repos {
  margin: 0 0 5px 10px;
}

tr, td, th {
  width: 33%;
  border: 1px solid black;
  align-content: center;
  font-weight: lighter;
  padding: 2px 0px 2px 20px;
}

a {
  color: rgb(35, 46, 57);
  text-decoration: none;
}

a:hover {
  color: rgb(147, 44, 44);
}
